<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>$(APP_ID)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>DEV_KEY</key>
	<string>$(DEV_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
	</array>
</dict>
</plist>
